{% extends 'base.html' %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}
<div class="container">
  <div class="card">
    <h5 class="card-header">{{ post.title }}</h5>
    <div class="card-body">
      <p class="card-title">{{ post.content }}</p>
      <a href="{% url 'study:list' %}" class="btn btn-primary">戻る</a>
      {% if post.author.id is user.id %}
      <a href="{% url 'study:edit' post.id %}" class="btn btn-primary">編集</a>
      <a href="{% url 'study:delete' post.id %}" class="btn btn-danger">削除</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
